<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ad.web.mapper.AdPoMapper">
    <sql id="Base_Column_List">
        id,name,content,price,click_num,platform,type
    </sql>

    <select id="getAllAdPo" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info
        where is_deleted = 0
    </select>
    <select id="getAdPoOrderByClickNum" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info
        where is_deleted =0
        order by click_num desc
        limit #{choseNum}
    </select>
    <select id="getAdPoListById" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info
        where id = #{id} and is_deleted = 0
    </select>
    <select id="getAdPoListKeyToName" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info
        where name like concat('%',#{keyWord},'%') and is_deleted = 0
    </select>
    <select id="getAdPoListKeyToContent" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info
        where content like concat('%',#{keyWord},'%') and is_deleted = 0
    </select>
    <select id="getAdPoListKeyToPlatform" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info
        where platform like concat('%',#{keyWord},'%') and is_deleted = 0
    </select>
    <select id="getAdPoListKeyToType" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info
        where type like concat('%',#{keyWord},'%') and is_deleted = 0
    </select>
    <select id="getClickNumByAdPoId" resultType="java.lang.Long">
        select click_num
        from ad_po_info
        where is_deleted = 0
        and id = #{adPoId}
    </select>
    <select id="getAdPoListByIds" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info
        where is_deleted = 0
        and id in <foreach collection="ids" item="item" open="(" close=")" separator=",">
                    #{item}
        </foreach>
    </select>
    <select id="selectByPrimaryKey" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
            from ad_po_info
        where is_deleted = 0
        and id = #{adPoId}
    </select>
    <select id="getViewHistoryByUserid" resultType="com.ad.web.entity.AdPo">
        SELECT <include refid="Base_Column_List"/>
        FROM ad_po_info a
        WHERE a.is_deleted = 0
        AND EXISTS (
            SELECT 1
            FROM user_view_ad uva
            WHERE uva.ad_po_id = a.id
            AND uva.user_id = #{userId}
            AND uva.is_deleted = 0
        )
    </select>
    <select id="getFavoritesByUserid" resultType="com.ad.web.entity.AdPo">
        select <include refid="Base_Column_List"/>
        from ad_po_info a
        where a.is_deleted = 0
        and exists (
            select 1
            from user_favorites_ad b
            where b.is_deleted = 0
                                 and a.id = b.ad_po_id
                                     and b.user_id = #{userId}
        )
    </select>

    <update id="ClickIncrementById">
        update ad_po_info
        set
            click_num = click_num + 1,
            update_time = Now()
        where id = #{adPoId} and is_deleted = 0
    </update>
    <update id="ClickUpdateById">
        update ad_po_info
        set
            click_num = #{sum},
            update_time = now()
        where id = #{adPoId} and is_deleted = 0
    </update>
</mapper>
