<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ad.web.mapper.UserViewAdMapper">

    <resultMap id="BaseResultMap" type="com.ad.web.entity.UserViewAd">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="adId" column="ad_id" />
            <result property="time" column="time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,ad_po_id,time,create_time,update_time,
        is_deleted
    </sql>
    <update id="deleteView">
        update user_view_ad
        set
            is_deleted = 1,
            update_time = now()
        where user_id = #{userId} and ad_po_id = #{adPoId} and is_deleted = 0
    </update>

    <select id="getViewAdPoIdByUserId" resultType="java.lang.Long">
        select ad_po_id
        from user_view_ad
        where user_id = #{userId} and is_deleted = 0
        order by `time` desc
    </select>
    <select id="getViewAdPoCount" resultType="java.lang.Long">
        select count(*)
        from user_view_ad
        where user_id = #{userId} and ad_po_id = #{adPoId} and is_deleted = 0
    </select>
    <select id="getViewDeletedAdPoCount" resultType="java.lang.Long">
        select count(*)
        from user_view_ad
        where user_id = #{userId} and ad_po_id = #{adPoId} and is_deleted = 1
    </select>


    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ad.web.entity.UserViewAd" useGeneratedKeys="true">
        insert into user_view_ad
        ( id,user_id,ad_po_id,time,create_time,update_time,is_deleted)
        values (null,#{userId},#{adId},Now(),Now(),null,0)
    </insert>


    <update id="updateViewTime">
        update user_view_ad
        set
            time = now(),
            update_time = now()
        where is_deleted = 0 and user_id = #{userId} and ad_po_id = #{adPoId}
    </update>
    <update id="updateViewTimeAndDeleted">
        update user_view_ad
        set
            is_deleted = 0,
            time = now(),
            update_time = now()
        where is_deleted = 1 and user_id = #{userId} and ad_po_id = #{adPoId}
    </update>
</mapper>
