<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<img th:src="1.jpg" alt="加载失败" width="400px" height="350px">
<img src="http://192.168.116.101:9000/hello-minio/980.jpg" alt="加载失败" width="400px" height="350px">
<form th:action="@{/user/login1}" method="post">
    username:<label><input name="username"></label><br>
    password:<label><input name="password"></label><br>
    <button type="submit">登录1</button>
</form><br>
<form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
    上传<input type="file" name="file">
    <input type="submit" value="测试文件的上传,服务器->浏览器—>minio">
</form><br>
<form th:action="@{/graph/upload}" method="post" enctype="multipart/form-data">
    上传<input type="file" name="graph">
    <input type="submit" value="测试图片的上传,服务器->浏览器—>minio">
</form><br>
</body>
</html>